<div class="container">

	<div class="starter-template">
		<h1>WaitAndEat</h1>
		<p class="lead">The smart restuarant waiting list</p>
		<button type="button" class="btn btn-primary btn-lg">Get Started Now!</button>
	</div>
	<div class="row">
	  <div class="col-md-4">
	  	<h2>Customers will love you!</h2>
	  	<p>Now they don't have to stand near you.</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>Customers will love you!</h2>
	  	<p>Now they don't have to stand near you.</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>Customers will love you!</h2>
	  	<p>Now they don't have to stand near you.</p>
	</div>

</div><!-- /.container -->