<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="partyName">Email address</label>
    <input type="text" class="form-control" id="partyName" placeholder="name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Password</label>
    <input type="text" class="form-control" id="phoneNumber" placeholder="Phone">
  </div>  
  <div class="form-group">
    <label class="sr-only" for="sizeOfParty">Size of Party</label>
    <input type="text" class="form-control" id="sizeOfParty" placeholder="Size of Party">
  </div>
  <button type="submit" class="btn btn-primary">Add Party</button>
</form>
{{ test }}